<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glimpse</title>
</head>
<body>
    <h1>Welcome to Glimpse</h1>
<!--    <ul>-->
<!--        <li><a href="/brands">Users</a></li>-->
<!--        <li><a href="/clients">Clients</a></li>-->
<!--        <li><a href="/cars">Cars</a></li>-->
<!--        <li><a href="/rents">Rents</a></li>-->
<!--        <li><a href="/statuses">Statuses</a></li>-->
<!--    </ul>-->
</body>
</html>
